:root {
    --primary-color: #F00;
    --black: #070211;
    --white: white;
}


body {
    margin: 0px;
}
p {
    font-family: 'Inter', sans-serif;
}

button{
    background-color: var(--primary-color);
    padding: 16px 32px;
    border-radius: 8px;
    border: 0px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

/* header-style */
header {
    align-items: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* margin: 50px auto; */
    border-radius: 16px;
}

.header-image {
    background-image: url("/resources/Banner\ Image.png");
    object-fit: fill;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    
}

.header-shadow {
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(to bottom, black, transparent);
    display: flex;
    justify-content: center;
    align-items: center;

}

.head-text {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: var(--white);
}

.head-text>h4 {
    font-size: 28px;
    font-weight: lighter;
}

.head-text>h1 {
    font-size: 70px;
    font-weight: bolder;
    line-height: 60%;
}

/* article style */
/* section1 */

.section1 {
    display: block;
    /* justify-content: center; */
}

.section1-text {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0px;
}

.section1-text>h1 {
    font-size: 88px;
    font-weight: bolder;
    margin: 0;
    padding-top: 40px;
    letter-spacing: 0.5px;
    color: var(--primary-color);
}

.section1-text>h4 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0px;
    margin: 0px;
    padding: 40px 0px 10px;
    color: var(--primary-color);
}

.section1-text>h2 {
    font-weight: bolder;
    font-size: 46px;
    margin: 0px;
    color: var(--black);
}

.section1-image {
    height: 500px;
    width: 770px;
    background-image: url("/resources/New\ Year\ Photo.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.section2 {
    /* align-items: center;
    text-align: center; */
    margin: 120px auto;
    border-radius: 16px;
    background-image: url("/resources/Vectorrr.png");
    object-fit: fill;
    width: 1320px;
    height: 600px;
}

.section2-shadow {
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(to right, black, transparent);
    display: flex;
    /* justify-content: center */
    align-items: center;
}

.section2-text {
    width: 642px;
    margin-left: 126px;
}

.section2-text>h1 {
    color: var(--white);
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
    margin: 30px 0px;
    letter-spacing: 7.04px;
}
.section2-text>p {
    font-family: 'Inter', sans-serif;
    color: rgb(166, 165, 165);
    margin-bottom: 48px;
    line-height: 26px;
    font-size: 18px;
    font-weight: lighter;

}
.section2-text>a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0px 32px;
}
a:hover {
    color: #F00;
}
.section2-image{
    margin: 70px 40px;
}

.section3 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid; 
    place-items: center;
    width: 1320px;
    height: 420px;
    margin: 100px auto;
    background-image: linear-gradient(to bottom, rgb(245, 208, 208), transparent);
    border-radius: 16px;
}

.section3-text{
    padding-top: 100px;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-bottom: 0px;
}
 .red{
    color: var(--primary-color);
}
.section3 >.primary-btn{
    margin-bottom: 20px;

}
